/* Typography */

html {
	font-family: 'Montserrat', "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-weight: 300;
	width: 100%;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

/* Custom Styles */
body{
	background: #E8EAF6;
	color: #528;
	width: 100%;
}

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	max-width: 740px;
	padding: 30px;
	margin: 0 auto
}

main > .intro {
	font-size: 2.5em;
	text-align: center;
}

main > .tagline {
	font-size: 1.2rem;
	margin: 1.5rem 0;
	font-weight: 100;
	text-align: center;
}

.icons-social i {
	padding: 10px;
	font-size: 2rem;
}


/* Theme */

.icons-social{
	margin-bottom: 60px;
}

.icons-social a {
	color: #528;
}

.icons-social a svg path{
	fill: #528;
}

a{
	color: #528;
}

p.title{
	margin-bottom: 5px;
	font-weight:bold;
}

.skills{
	margin: 0 auto 30px auto;
	text-align: left;
}

@media (min-width: 700px) {
	.skills{
		margin: 0 auto;
		text-align: left;
		display:flex;
		justify-content: start;
	}

}

.skills p{
	text-align: left;
}

.skills div{
	padding: 0 25px;
}

h1, h2, h3,h4, h5 h6 {
	font-weight:700;
	margin-bottom: 20px;
}

ul{
	margin: 0 0 40px 20px;
}

ul li{
	margin: 0 0 15px 0;
	padding: 0;
}
